.hero {
  padding: 5.6vw;
  min-height: 80vh;
  background-image: url(../../images/hero_background.png);
  text-align: center;
  background-size: cover;

  &__content {
    max-width: 640px;

    .title {
      margin-bottom: 24px;
    }

    &__info {
      margin-top: 48px;
      display: flex;

      .button {
        max-width: 250px;
        padding: 8px 8px;
        margin-left: 24px;
      }

      &__list {
        &__item {
          text-align: left;
          list-style: circle;
        }
      }
    }

    &__branding {
      img {
        width: 100%;
      }
    }
  }
}
