@use "variaveis";

.stories {
  padding: 5.6vw;
  display: block;
  position: relative;

  .title--main {
    text-align: end;
    margin-bottom: 50px;
  }

  img {
    width: 100%;
  }

  &__text-container {
    position: absolute;
    top: 0;
    padding-left: 1%;
    padding-right: 1%;
    width: calc(40% - 5.6vw);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);

    @media (max-width: 996px) {
      display: block;
      position: inherit;
      width: 100%;
    }

    .title {
      font-size: 2.4rem;
      margin-bottom: 24px;
    }

    .text {
      margin-bottom: 10px;
    }
  }

  &__btn__container {
    position: absolute;
    top: 87%;
    width: calc(40% - 5.6vw + 24px);
    display: flex;
    justify-content: center;

    @media (max-width: 996px) {
      position: inherit;
      width: 100%;
    }

    .button {
      margin-right: 24px;
      border-color: black;
      border-width: 3px;

      &--hero--is-active {
        background-color: darken(
          $color: variaveis.$cor-btn-secondary,
          $amount: 40%
        );
      }

      &--dark--is-active {
        background-color: darken(
          $color: variaveis.$cor-btn-primary,
          $amount: 40%
        );
      }
    }
  }

  .story-select {
    display: none;

    &--is-active {
      display: contents;
    }
  }
}
